<%- include('../partials/header')%>

<div class="container">
  <form>
    <fieldset>
      <legend>Story id: <%= story._id %></legend>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          class="form-control"
          value="<%=story.title%>"
        />
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-select">
          <option><%=story.category%></option>
          <option>child</option>
          <option>adult</option>
          <option>adventure</option>
          <option>horror</option>
          <option>other</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="lat" class="form-label">Latitude</label>
        <input
          type="text"
          id="lat"
          class="form-control"
          value="<%=story.lat%>"
        />
      </div>
      <div class="mb-3">
        <label for="long" class="form-label">Longitude</label>
        <input
          type="text"
          id="long"
          class="form-control"
          value="<%=story.long%>"
        />
      </div>
      <button type="submit" class="btn btn-primary">Update</button>

      <a href="/stories"
        ><button type="button" class="btn btn-secondary">Cancel</button></a
      >
      <a
        href="/stories"
        class="btn btn-danger"
        tabindex="-1"
        role="button"
        aria-disabled="true"
        >Delete</a
      >
    </fieldset>
  </form>
</div>

<%- include('../partials/footer')%>
