<%- include('../partials/header')%>

<div class="container">
  <form action="/stories/<%= story._id %>?_method=PATCH" method="POST">
    <legend>Story id: <%= story._id %></legend>
    <div class="mb-3">
      <h2>Title</h2>
      <p><%=story.title%></p>
    </div>
    <div class="mb-3">
      <h2>Category</h2>
      <p><%=story.category%></p>
    </div>
    <div class="mb-3">
      <h2>Latitude</h2>
      <p><%=story.lat%></p>
    </div>
    <div class="mb-3">
      <h2>Longitude</h2>
      <p><%=story.long%></p>
    </div>

    <a href="/stories"><button type="button" class="btn btn-secondary">Back</button></a>
  </form>
  <form action="/stories/<%= story._id %>/edit" method="GET">
    <button class="btn btn-primary">Edit</button>
  </form>
</div>

<%- include('../partials/footer')%>
